<html>
	<head>
		<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=2.0; user-scalable=1;" />
		<!-- ><meta name="apple-mobile-web-app-capable" content="yes" />	<-->		
	</head>
   	<body>
    	<div align="center" style="font-size:25px">{{ message }}</div>
		<br><br>
		<div align="center" style="font-size:25px"><a href="/">Home</a></div>
		<div align="center" style="font-size:25px"><a href="/players">Players</a></div>
		<div align="center" style="font-size:25px"><a href="/rosters">Rosters</a></div>		
		<div align="center" style="font-size:25px"><a href="/admin/rosters">Edit Rosters</a></div>
   </body>
</html>